.about-intro {
  background-color: $dark;
  color: #fff;
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 180%;
  background-image: url('../../img/bg/about-main-bg-2.jpg');
  font-size: 1.5rem;

  h1,
  .h1 {
    font-size: 6.25rem;
  }
}

@include media-breakpoint-down(lg) {
  .about-intro {
    min-height: 410px;
    font-size: 1.25rem;

    h1,
    .h1 {
      font-size: 4.5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .about-intro {
    min-height: 260px;
    background-position: 50%;
    background-size: cover;

    h1,
    .h1 {
      font-size: 3rem;
    }
  }
}
