.bg-black {
  .filter {
    background-color: $black;

    &__inner {
      border-color: rgba(255, 255, 255, 0.1);
    }

    &--top {
      box-shadow: 0 0.5rem 1rem rgba(100, 100, 100, 0.15);
    }
  }

  .custom-control-label {
    &::before {
      border-top-color: #363636;
      background-color: $dark;
    }
  }

  .dropdown-menu {
    background-color: $black;
    color: #fff;
  }

  .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .product-card--dark {
    background-color: #181818;
    color: #fff;
    box-shadow: 0 0 0 0 #181818;
  }

  .product-more {
    background-color: #181818;
    color: #fff;
  }

  .page-item {
    &:not(.active) {
      .page-link {
        color: #fff;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .bg-black {
    .filter {
      .dropdown-menu {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
      }
    }
  }
}
