.blog-post {
  padding: 40px 0;
  border-top: 1px solid $light;

  &:last-child {
    border-bottom: 1px solid $light;
  }

  &__link {
    color: inherit;
    transition: $transition-base;

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .blog-post {
    padding: 30px 0;
  }
}
