.manufacture {
  text-align: center;
  color: #fff;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section-parallax__bg {
    height: 637px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../img/bg/main-making.jpg');
  }
}

@include media-breakpoint-down(lg) {
  .manufacture {
    min-height: 280px;

    .section-parallax__bg {
      height: 280px;
      background-size: cover;
      background-image: url('../../img/bg/main-making-tablet.jpg');
    }
  }
}

@include media-breakpoint-down(sm) {
  .manufacture {
    .section-parallax__bg {
      background-image: url('../../img/bg/main-making-mobile.jpg');
    }
  }
}

@include media-breakpoint-down(xs) {
  .manufacture {
    .h1 {
      font-size: 26px;
    }
  }
}
