.main-error {
    background: url('../../img/bg/bg_404.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
}

.main-error .error {
    margin: 150px 0 20px 0;
}

