.slick-dots {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  justify-content: center;

  li {
    margin: 0 5px;
  }

  button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    padding: 0;
    border: 0;
    font-size: 0;
  }

  .slick-active {
    button {
      background-color: #bbb;
    }
  }
}
