.text {
  ol:not([class]) {
    padding-left: 1rem;

    li {
      &::marker {
        color: $primary;
        font-weight: bold;
      }
    }
  }

  ul:not([class]) {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 1rem;

      &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 7px;
        height: 7px;
        background-color: $primary;
        border-radius: 50%;
      }
    }
  }
}
